  // Typography
  @mixin SFProBold {
    font-family: 'SFProBold';
  }
  
  @mixin SFProSemibold {
    font-family: 'SFProSemibold';
  }
  
  @mixin SFProMedium {
    font-family: 'SFProMedium';
  }
  
  @mixin SFProRegular {
    font-family: 'SFProRegular';
  }
  
  @mixin SFProLight {
    font-family: 'SFProLight';
  }